# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
env/
.env
.venv/
*.venv
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE / editor
*.idea
*.vscode
.DS_Store

# Output data (fetched tweets)
tweets.json
